@use "./abstracts/abstracts" as ab;
@use "./vendors/vendors";
@use "./base/base";
@use "./components/components";
@use "./layout/layout";
@use "./pages/pages";
@use "./themes/themes";
@use "./settings";

/* @include ab.breakpoint(tablet) {
    
} 

@include ab.breakpoint(desktop) {
    
} */

body {
    background-color: ab.$color-negro;

    .container {
        .main {
            .front {
                display: flex;
                flex-direction: column;
                gap: 30px;
                align-items: center;
                margin-top: -96px;
                background-image: url(../img/img-deco-ovalos.svg), url(../img/img-deco-circulo.svg);
                background-repeat: no-repeat, no-repeat;
                background-size: 124%, 45%;
                background-position: 300% 19%, 150% 39%;
                padding-bottom: 40px;

                @include ab.breakpoint(tablet) {
                    flex-direction: row-reverse;
                    background-size: 75%, 17%;
                    background-position: -171% 21%, 110% 93.5%;
                    padding-bottom: 0px;
                    padding-top: 20px;
                } 

                .profile-image {
                    background: linear-gradient(to bottom, #24242443 50%, #242424c6);
                    padding-top: 150px;
                    width: 218px;

                    @include ab.breakpoint(tablet) {
                        width: 100%;
                        background: none;
                        background-color: ab.$color-gris-oscuro;
                        z-index: -1;
                        translate: 0px -28px;
                    } 

                    img {
                        width: 100%;
                        translate: 0px 10px;
                    }
                }

                .front__content {
                    padding: 40px 20px 40px 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 30px;

                    @include ab.breakpoint(tablet) {
                        align-items: flex-start;
                        padding-left: 30px;
                        gap: 40px;
                    }

                    h1 {
                        font-size: ab.$headingL - 6px;

                        @include ab.breakpoint(tablet) {
                            margin-top: 100px;
                            padding-top: 20px;
                            font-size: ab.$headingL + 18px;
                            line-height: 70px;
                            width: 130%;
                        }

                        .br-tablet-1, .br-tablet-2 {
                            display: none;

                            @include ab.breakpoint(tablet) {
                                display: inline;
                            }

                            @include ab.breakpoint(desktop) {
                                display: none;
                            }
                        }

                        span {
                            text-decoration: underline;
                            text-decoration-color: ab.$color-verde;
                            text-underline-offset: 9px;
                        }
                    }

                    p {
                        font-size: ab.$bodyL;
                        text-align: center;
                        line-height: 30px;

                        @include ab.breakpoint(tablet) {
                            text-align: left;
                            font-size: ab.$bodyL - 1px;
                            width: 115%;
                        }
                    }

                    a {
                        font-size: ab.$headingM - 2px;

                        @include ab.breakpoint(tablet) {
                            font-size: ab.$bodyL - 1px;
                        }
                    }
                }
            }

            .skills {
                display: flex;
                flex-direction: column;
                gap: 25px;
                align-items: center;
                background-image: url(../img/img-deco-ovalos.svg);
                background-repeat: no-repeat;
                background-size: 110%;
                background-position: 220px 580px;
                padding-bottom: 40px;

                @include ab.breakpoint(tablet) {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: repeat(3 1fr);
                    justify-content: space-around;
                    align-items: center;
                    gap: 30px;
                    padding: 0px 30px 40px 30px;
                    background-size: 80%;
                    padding-bottom: 80px;
                    background-position: 600px 270px;
                }

                .skill__box {
                    width: max-content;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    @include ab.breakpoint(tablet) {

                    }

                    h3 {
                        font-size: ab.$headingM + 8px;
                        text-align: center;

                        @include ab.breakpoint(tablet) {
                            font-size: ab.$headingL;
                            text-align: left;
                        }
                    }

                    p {
                        font-size: ab.$bodyL;
                        text-align: center;
                        color: ab.$color-gris-claro;

                        @include ab.breakpoint(tablet) {
                            font-size: ab.$bodyL;
                            text-align: left;
                        }
                    }
                }

                hr {
                    @include ab.breakpoint(tablet) {
                        display: none;
                    }
                }
            }

            .projects {
                padding: 0 20px 60px 20px;

                @include ab.breakpoint(tablet) {
                    padding: 0 30px 60px 30px;
                    display: grid;
                    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
                    grid-template-rows: 100px 1fr 1fr 1fr;
                    gap: 20px;
                }

                .projects__header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 30px;

                    @include ab.breakpoint(tablet) {
                        grid-column: 1 / 3;
                        padding-bottom: 20px;
                        padding-top: 20px;
                    }

                    h2 {
                        font-size: ab.$headingL - 6px;

                        @include ab.breakpoint(tablet) {
                            font-size: ab.$headingXL - 14px;
                        }
                    }

                    a { 
                        align-self: flex-start;
                        padding-top: 12px;
                        font-size: ab.$bodyL - 2px;

                        @include ab.breakpoint(tablet) {
                            font-size: ab.$bodyL;
                            align-self: center;
                        }
                    }
                }

                .projects__content {
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    padding-bottom: 20px;
                    padding-top: 20px;

                    .article-image picture img {
                        width: 100%;

                        &:hover {
                            opacity: 0.3;
                        }
                    }

                    .projects__content--summary {
                        display: flex;
                        flex-direction: column;
                        gap: 15px; 

                        h4 {
                            font-size: ab.$headingM;
                        }

                        .technologies {
                            display: flex;
                            flex-direction: row;
                            gap: 20px;
                            color: ab.$color-gris-claro;
                        }
                    }

                    .projects__content--buttons {
                        display: flex;
                        justify-content: flex-start;
                        gap: 40px;
                    }
                }
            }

            .contact {
                background-color: ab.$color-gris-oscuro;
                padding-top: 40px;
                display: flex;
                flex-direction: column;
                background-image: url(../img/img-deco-ovalos.svg);
                background-repeat: no-repeat;
                background-size: 110%;
                background-position: -250px 76%;

                @include ab.breakpoint(tablet) {
                    background-size: 70%;
                    background-position: -330px 90%;
                }
                
                .contact__box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    padding: 20px;
                    
                    @include ab.breakpoint(tablet) {
                        padding: 40px 150px 40px 150px;
                    }

                    h2 {
                        font-size: ab.$headingL;

                        @include ab.breakpoint(tablet) {
                            font-size: ab.$headingL + 20px;
                        }
                    }

                    p {
                        color: ab.$color-gris-claro;
                        font-size: ab.$bodyL;
                        line-height: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }


}

hr {
    width: calc(100vw - 40px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 2px;
    background-color: ab.$color-gris-claro;
}

.hr3 {
    @include ab.breakpoint(tablet) {
        margin-top: 60px;
        margin-bottom: 10px;
    }
}